:root {
    --width: 1400px;
    color: black;
}

body {
    background-color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    display: inline-block;
    width: var(--width);
    margin-top: 5%;
    margin-left: calc((100% - var(--width)) / 2);
    background-color: antiquewhite;
}

.main-content {
    display: inline-block;
    width: var(--width);
    margin-top: 10px;
    margin-left: calc((100% - var(--width)) / 2);
    background-color:aquamarine;
}

.left-column {
    width: 48%;
    float: left;
    background-color: darkgrey;
}

.right-column {
    width: 48%;
    float: right;
    background-color: bisque;
}