:root {
    --width: 1400px;
    --color: #404040; /*#292829;*/
    --header-height: 80px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #B1B1A6;
}

.main-header {
    display: inline-block;
    width: var(--width);
    margin-top: 4em;
    margin-left: calc((100% - var(--width)) / 2);
    background-color: darkgrey;;
    border-radius: 5px;
}

.logo {
    height: var(--header-height);
    margin-left: 10px;
    float: left;
}

.main-nav {
    float: right;
    margin-right: 25px;
}

.main-nav > .link {
    display: inline-block;
    margin-right: 100px;
    font-size: 16px;
    margin-top: 20px;
    color: var(--color);
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    transition: all 0.5s;
}

.main-nav > .link:hover {
    border-color: #781405;

}


.main-content {
    display: inline-block;
    width: var(--width);
    margin-top: 8px;
    margin-left: calc((100% - var(--width)) / 2);
    background-color: darkgrey;
    color: var(--color);
    border-radius: 5px;
    box-shadow: 0 30px 150px -40px #781405;
}

.left-column {
    width: 48%;
    float: left;
    background-color: darkgrey;
    margin-left: 0.7em;
}

.right-column {
    width: 48%;
    float: right;
    background-color: darkgrey; /*#D5E1D8;*/
}

.main-image{
    width: 55%;
    text-align: center;
    margin-left: 9em;
    margin-top: 3em;
    margin-bottom: 4em;
    border-radius: 3px;
}

.main-title {
    font-size: 35px;
    text-align: center;
    margin-top: 150px;
    color: var(--color);
}

.main-title > span {
    color: #781405;
    text-transform: uppercase;
    font-size: 40px;
}

.description {
    text-align: center;
    margin-bottom: 100px;
}

.btn {
    margin-left: 280px;
    color: var(--color);
    text-decoration: none;
    font-size: 18px;
    border: 2px solid #781405;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    background-color: #B1B1A6; /* #B0B3A9; /* #E65D31;*/
    transition: all 0.5s;
}

.btn:hover {
    background-color: #404040;
    color: white;
} 

.socials {
    margin-left: 110px;
    margin-top: 150px;
}

.socials>.icon {
    text-decoration: none;
    font-size: 20px;
    background-color: ;
    color: var(--color);
    padding-right: 5px;
    line-height: ;
    transition: all 0.5s;
}

.socials>.icon:hover {
    color: #781405;
}

